{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                {:mvn/version "1.10.1"}
         com.breezeehr.google-api/bootstrap {:local/root "../google-api-bootstrap"}
         com.breezeehr.google-api/java-auth {:local/root "../google-api-java-auth"}
         cheshire/cheshire                  {:mvn/version "5.10.0"}
         com.cemerick/url                   {:mvn/version "0.1.1"}
         clj-wrap-indent/clj-wrap-indent    {:mvn/version "1.0.0"}
         aleph/aleph                        {:mvn/version "0.4.7-alpha7"}}
 :aliases
        {:test    {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
         :runner
                  {:extra-deps {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner"
                                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                   :main-opts  ["-m" "cognitect.test-runner"
                                "-d" "test"]}
         :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                   :main-opts  ["-m" "hf.depstar.jar" "com.breezeehr.google-api.dynamic-client.jar"]}
         :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "com.breezeehr.google-api.dynamic-client.jar"]}
         :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "com.breezeehr.google-api.dynamic-client.jar"]}}}
